<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold001.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,701},{49,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,160}}</string>
                <key>sourceSize</key>
                <string>{49,160}</string>
            </dict>
            <key>gold002.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,538},{61,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,161}}</string>
                <key>sourceSize</key>
                <string>{61,161}</string>
            </dict>
            <key>gold003.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,754},{84,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,161}}</string>
                <key>sourceSize</key>
                <string>{84,161}</string>
            </dict>
            <key>gold004.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,752},{121,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,160}}</string>
                <key>sourceSize</key>
                <string>{121,160}</string>
            </dict>
            <key>gold005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,190},{169,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,158}}</string>
                <key>sourceSize</key>
                <string>{169,158}</string>
            </dict>
            <key>gold006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{169,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,174}}</string>
                <key>sourceSize</key>
                <string>{169,174}</string>
            </dict>
            <key>gold007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{149,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,184}}</string>
                <key>sourceSize</key>
                <string>{149,184}</string>
            </dict>
            <key>gold008.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,190},{114,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,175}}</string>
                <key>sourceSize</key>
                <string>{114,175}</string>
            </dict>
            <key>gold009.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,917},{105,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,157}}</string>
                <key>sourceSize</key>
                <string>{105,157}</string>
            </dict>
            <key>gold010.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,861},{158,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,157}}</string>
                <key>sourceSize</key>
                <string>{158,157}</string>
            </dict>
            <key>gold011.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,523},{135,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,150}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>purple001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,700},{136,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,159}}</string>
                <key>sourceSize</key>
                <string>{136,159}</string>
            </dict>
            <key>purple002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,361},{92,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,160}}</string>
                <key>sourceSize</key>
                <string>{92,160}</string>
            </dict>
            <key>purple003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{96,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,162}}</string>
                <key>sourceSize</key>
                <string>{96,162}</string>
            </dict>
            <key>purple004.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,538},{138,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,160}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>purple005.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,367},{169,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,165}}</string>
                <key>sourceSize</key>
                <string>{169,165}</string>
            </dict>
            <key>purple006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{169,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,186}}</string>
                <key>sourceSize</key>
                <string>{169,186}</string>
            </dict>
            <key>purple007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,198}}</string>
                <key>sourceSize</key>
                <string>{126,198}</string>
            </dict>
            <key>purple008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{138,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,188}}</string>
                <key>sourceSize</key>
                <string>{138,188}</string>
            </dict>
            <key>purple009.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{152,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,165}}</string>
                <key>sourceSize</key>
                <string>{152,165}</string>
            </dict>
            <key>purple010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{163,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,157}}</string>
                <key>sourceSize</key>
                <string>{163,157}</string>
            </dict>
            <key>purple011.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,361},{125,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,149}}</string>
                <key>sourceSize</key>
                <string>{125,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PhenixPet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcf4b3912c23a8c774bef8ce82fa8d85$</string>
            <key>textureFileName</key>
            <string>PhenixPet.png</string>
        </dict>
    </dict>
</plist>
