<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{126,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,80}}</string>
                <key>sourceSize</key>
                <string>{126,80}</string>
            </dict>
            <key>player012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{117,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,73}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>player013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{123,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,104}}</string>
                <key>sourceSize</key>
                <string>{123,104}</string>
            </dict>
            <key>player014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,90}}</string>
                <key>sourceSize</key>
                <string>{135,90}</string>
            </dict>
            <key>player021.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,378},{117,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,94}}</string>
                <key>sourceSize</key>
                <string>{117,94}</string>
            </dict>
            <key>player022.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,179},{116,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,95}}</string>
                <key>sourceSize</key>
                <string>{116,95}</string>
            </dict>
            <key>player023.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,276},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>player024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{131,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,105}}</string>
                <key>sourceSize</key>
                <string>{131,105}</string>
            </dict>
            <key>player031.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,93},{110,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,84}</string>
            </dict>
            <key>player032.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{110,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,89}}</string>
                <key>sourceSize</key>
                <string>{110,89}</string>
            </dict>
            <key>player033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>player034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{114,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,93}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>player041.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,638},{107,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,80}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>player042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{103,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,77}}</string>
                <key>sourceSize</key>
                <string>{103,77}</string>
            </dict>
            <key>player043.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,554},{109,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,82}}</string>
                <key>sourceSize</key>
                <string>{109,82}</string>
            </dict>
            <key>player044.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,474},{114,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,78}}</string>
                <key>sourceSize</key>
                <string>{114,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{253,731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6acbc5d4daa32f17c14ef78fcdad432$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
